$font-family-1: 'Manrope', sans-serif;
$font-family-2: 'Open Sans', sans-serif;
$text-darkBlue: #0A2640;
$text-gray: #777777;
$bg-gray: #777777;
$text-white: white;
$text-green: #65E4A3;
$bg-darkBlue: #0A2640;
$bg-green: #65E4A3;
$bg-white: white;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;