$poppins-fontFamily: 'Poppins', sans-serif;

$bg-lightGray: #F4F6F5;
$text-lightGray: #D9D9D9;
$text-darkGray: #7F7F7F;
$bg-yellow: #EBD96B;
$bg-PaydaySaleNowYellow: #E0C340;
$bg-footeryellow:#E5C643;
